.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #101010;
  border-bottom: 2px solid #474747;
}

ul {
  margin: 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #F1F1F1;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #A0A0A0;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1rem;
  text-transform: uppercase;
}

.sign-up {
  background-color: transparent;
  border: 1px groove #f39c12;
  transition: background-color 0.3s ease;
  color: #f39c12;
}

.sign-in {
  background-color: #5A5A5A;
  transition: background-color 0.3s ease;
}

.sign-up:hover {
  background-color: #f39c12;
  color: white;
}

.sign-in:hover {
  background-color: #7A7A7A;
}